/.atl
/.claude
/.sf
/.sfdx
/.vscode
/jira
**/.DS_Store


# https://ulab--staging.sandbox.lightning.force.com/lightning/r/uLab_Order__c/a0FRK00000Dr9dZ2AR/view
# uLab_Acct_Number__c = 616212
# Related_Case_Number__c = 638818
# Patient_Portal_ID__c = 86647

# https://ulab--staging.sandbox.lightning.force.com/lightning/r/uLab_Order__c/a0FRK000001HkPF2A0/view
# https://ulab--staging.sandbox.lightning.force.com/lightning/r/uLab_Order__c/a0F5200000TWrHkEAL/view